.container-calendar{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0; 
    justify-items: center;
    justify-content: center;   
}

.container-monthday{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: auto;
    padding: 0;
}

.container-day{
    border-width: thin;
    border-style: solid;
    border-color: #000;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-header{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    padding: 0;
}

.container-weekday{
    border-width: thin;
    border-style: solid;
    border-color: #000;
    width: 100%;
    height: 100%;
    height: 2rem;
    padding: 0;
    margin: 0;
    text-align: center;
}

.container-noCurrentMonth,
.container-currentMonth{
    display: flex;
    flex-direction: column;
    border-width: thin;
    border-style: solid;
    padding: 5%;
    text-align: center;
    height: 6rem;
}


.container-noCurrentMonth{
    border-color: #858383;
    background-color: #f4ebeb;
}

.container-currentMonth{
    border-color: #858383;
}

.container-currentMonth span,
.container-noCurrentMonth span{
    font-weight: 500;
}

.container-TM, 
.container-TT{
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    height: 3rem;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    
}

.container-TM{
    background-color: rgb(120, 194, 236);
}

.container-TT{
    background-color: rgb(206, 99, 66);
}

.container-TT span{
    color: white;
    font-size: medium;
    text-align: center;
    justify-self: center;
    font-weight: 600;
}

.container-day{
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 30%;
    border: none;
    text-align: start;
}

.container-day span{
    text-align: start;
}

.container-today{
    border-color: aqua;
    box-shadow: 0 0 0 0.2rem aqua;
    background-color: #f0f0f0;
}