
.requests-container {
    position: relative;
  }
  
  .requests-modal {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 200px; /* Ancho de la ventana emergente */
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, height 0.3s ease;
  }
  
  .requests-modal.show {
    opacity: 1;
    visibility: visible;
    height: auto; /* Cambiamos la altura a "auto" cuando se muestra */
  }
  .modal-request-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  .modal-header-container{
    display: flex;
  }
  